header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  background: #b8c1ec;
  padding: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 3px solid #fffffe;
  border-top: none;
}

img {
  width: 3.5rem;
  object-fit: contain;
}

.title-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* یا center، بسته به نیاز طراحی */
}

h1 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  img {
    width: 8.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
