
<app-login *ngIf="!isLoggedIn"></app-login>

<div *ngIf="isLoggedIn">

<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
 <button (click)="logout()" *ngIf="isLoggedIn">خروج</button>


<main>
  <ul id="users">
  <h1>users</h1>
  @for (item of backend_users; track item.id) {
    <li>
      <app-user [user]="item" 
              [selected]="(item.id.toString()) === selectedUserId"
              (select)="onSelectUser($event)">
    </app-user>
    </li>
  }
</ul>

@if (selectedUser){
  <div class="tabs-container">
  <h2>{{selectedUser.username}}'s projects :</h2>

  <div class="row">
      <div>
      <div class="tabs-row">
    @for (item of backend_projects; track item.id){
      <!-- @if(isUserInProject(item.users)) { -->
        <app-project-tab
          [project]="item"
          [selected]="item.id === selectedProjectId"
          (select)="onSelectProject($event)">
        </app-project-tab>
      <!-- } -->
    }
  </div>

  <div class="projects-container">
    <div class="project-details">
        @for (item of backend_projects; track item.id){
            @if (item.id === selectedProjectId) {
                <app-project-details [project]="item" [users]="getProjectUsers(selectedProject)"></app-project-details>
            }
        }
    </div>
</div>
  </div>


<div class="tasks-container">
    <div class="tasklist">
        <app-tasklist [name]="selectedUser.username" [userId]="selectedUserId" [projectId]="selectedProjectId" [tasks]="backend_tasks"></app-tasklist>
    </div>
</div>
  </div>


</div>

  <!-- <app-tasklist [name]="selectedUser.first_name" [userId]="selectedUserId" [projectId]="selectedProjectId"></app-tasklist> -->
}
@else {
  <p id="fallback">select a user</p>
}

</main>
</div>