article {
  padding: 1rem;
  color: #232946;
  background-color: #b8c1ec;
}

h2 {
  margin: 0;
}

time {
  color: #3c2c50;
}

.actions {
  text-align: right;
  margin: 0;
}

.actions button {
  font: inherit;
  font-size: 1rem;
  cursor: pointer;
  background-color:#232946 ;
  color: #fffffe;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  border : 3px solid #fffffe ;


  
}

.actions button:hover,
.actions button:active {
  color: #232946;
  background-color: #fffffe;
  border : 3px solid #fffffe ;
  text-transform: "completed!";
}

#completed{
  color: green;
}

#not_completed{
  color: red;
}