.project-tab {
  padding: 0.8rem 1.6rem;
  margin: 0 0.6rem 0.6rem 0;
  background: linear-gradient(135deg, #232946, #232946);
  color: #b8c1ec;
  border: 3px solid #b8c1ec;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.project-tab::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #fffffe;
  transition: width 0.3s ease, left 0.3s ease;
  border-radius: 2px;
}

.project-tab:hover::before {
  width: 100%;
  left: 0;
}

.project-tab:hover {
  background: linear-gradient(135deg, #b8c1ec54, #b8c1ec54);
  color: #b8c1ec;
}

.project-tab.active {
  background: linear-gradient(135deg, #b8c1ec, #b8c1ec);
  color: #232946;
  font-weight: 600;
  box-shadow: 0 0px 0px #b8c1ec;
}

.project-tab.active::before {
  width: 100%;
  left: 0;
  background-color: #b8c1ec;
}
