@if (isAddingProject){
   <!-- <app-new-task [userID]="userId"
   (close)="onCloseNewTask()" [projectID]="projectId" ></app-new-task> -->
   <app-new-project [userID]="user.user_id" ></app-new-project>
}

<div *ngIf="user" class="dashboard-header">
  <img [src]="user.profile_image || 'users_pic/user-1.jpg'" alt="Profile Image">
  
  <div class="user-details">
    <p class="username">{{ user.username }}</p>
    <p class="bio">bio : {{ user.bio }}</p>
    <p class="skills"><b>Skills: </b> {{ user.skills }}</p>
  </div>
  
  <div class="action-buttons">
    <button id="projects" (click)="showProjects()">Show Projects</button>
    <button id="tasks" (click)="showTasks()">Show Tasks</button>
  </div>
</div>

<main>
  <section id="projects-section" *ngIf="user && isClickedProject">
    <h2>my Projects</h2>
    <div class="tabs-row">
      @for (item of backend_projects; track item.id) {
        <app-project-tab [project]="item"
        [selected]="item.id === selectedProjectId"
        (select)="onSelectProject($event)">
      </app-project-tab>
    }
    <button id="add-project" (click)="onNewProject()">add new project</button>
    </div>

    <div class="project-details">
      @if (selectedProject) {
        <app-project-details [project]="selectedProject" [users]="getProjectUsers(selectedProject)"></app-project-details>
      }
    </div>
  </section>

  <section id="tasks-section" *ngIf="user && isClickedTask">
    <h2>my Tasks</h2>
    <app-tasklist [name]="user.username" 
                  [userId]="user.user_id" 
                  [projectId]="selectedProjectId" 
                  [tasks]="backend_tasks">
    </app-tasklist>
  </section>
</main>

<p *ngIf="!user" id="fallback">No user found. Please log in.</p>
