
.side-menu{
  display: inline-flex;
  width: 25vh;
  flex-direction: column;
  border-right: solid 1px rgba(128, 128, 128, 0.305);
  height: 730px;
  box-sizing:border-box;
  flex-shrink: 1;
  white-space: nowrap; 
  background-color: white;

}
.side-menu-button{
  background-color: rgba(255, 255, 255, 0);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: #505258;
  text-underline-offset: none;
  height: 40px;
  width: 25;
  justify-content: flex-start;  
}
.side-menu-button:hover{
  background-color: rgba(158, 154, 154, 0.247);
}
.side-menu-button:focus{
  border: solid 2px var(--jira-primary-hover);
}

.side-menu-icons{
  width: 20px;
  height: 20px;
}

svg{
  height: 30px;
  width: 30px;

}
.svg-setting{
  margin-left: 4px;
  margin-right: 4px;
  height: 22px;
  width: 22px;
}

.my-projects{
  text-align: center;
  height: 200px;
}

.home{
  margin-top: 20px;
}

